{% extends "dlouhyAdminTemplateBundle::login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form role="form" action="{{ path("fos_user_security_check") }}" method="post">
	<fieldset>
		<div class="form-group">
			<input class="form-control" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autofocus />
		</div>
		<div class="form-group">
			<input class="form-control" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" value="" />
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="Remember Me" id="remember_me" name="_remember_me" />Pamatovat si přihlášení
			</label>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-lg btn-success btn-block" />
	</fieldset>
</form>

{#
<form action="{{ path("fos_user_security_check") }}" method="post">
    action="{{ path("fos_user_security_check") }}" method="post"

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
#}

{% endblock fos_user_content %}
