{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Zkontrolujte email{% endblock %}
{% block bdCurrent %}Zkontrolujte email{% endblock %}

{% block fos_user_content %}

<h1 class="page-header">Zkontrolujte email</h1>

<div class="row">
	<div class="col-sm-12">	
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>	
	</div>
</div>

{% endblock %}