{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Obnovení hesla{% endblock %}
{% block bdCurrent %}Obnovení hesla{% endblock %}

{% block fos_user_content %}
	
<h1 class="page-header">Obnovení hesla</h1>

<div class="row">
	<div class="col-sm-12">		
		{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
	</div>
</div>
{% endblock fos_user_content %}
