{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'dlouhyAdminTemplateBundle:Form:bootstrap.html.twig' %}
<h1 class="page-header">Profil uživatele</h1>

<div class="row">
	<div class="col-xs-12 btn-menu">
		<a class="btn btn-info btn-edit" href="{{ path('fos_user_change_password') }}">Změnit heslo</a>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		
			{{ form_start(form) }}
			{{ form_errors(form) }}
			
			{{ form_row(form.name) }}
			{{ form_row(form.email) }}
		    {{ form_row(form.username) }}		    			
		    {{ form_row(form.current_password) }}
			
		    <div class="form-group">
				<input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}" />
			</div>
			
			{{ form_end(form) }}
	
	</div>
</div>