{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Změna profilu{% endblock %}
{% block bdCurrent %}Změna profilu{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
