{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}
{% trans_default_domain 'FOSUserBundle' %}
<h1 class="page-header">Profil uživatele</h1>

<div class="panel panel-default">

	<div class="panel-body">	
		<table class="table profile table-first-noborder">
			<tbody>
				<tr>
					<th class="col-sm-4">{{ 'profile.show.name'|trans }}</th>
					<td>{{ user.name }}</td>
				</tr>
				<tr>
					<th>{{ 'profile.show.email'|trans }}</th>
					<td>{{ user.email }}</td>
				</tr>	
				<tr>
					<th>{{ 'profile.show.username'|trans }}</th>
					<td>{{ user.username }}</td>
				</tr>
				<tr>
					<th>{{ 'profile.show.role'|trans }}</th>
					<td>{{ user.roles|join(', ') }}</td>
				</tr>				
				<tr>
					<th>{{ 'profile.show.enabled'|trans }}</th>
					<td>{{ macros.show_bool(user.enabled ) }}</td>
				</tr>			
				<tr>
					<th>{{ 'profile.show.last_login'|trans }}</th>
					<td>{{ user.lastLogin|date('Y-m-d H:i:s') }}</td>
				</tr>		
			</tbody>
		</table>
	</div>
</div>

<a class="btn btn-warning btn-edit" href="{{ path('fos_user_profile_edit') }}">Změnit</a>