{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Změna hesla{% endblock %}
{% block bdCurrent %}Změna hesla{% endblock %}

{% block fos_user_content %}
	<h1 class="page-header">Změna hesla</h1>

	{% form_theme form 'dlouhyAdminTemplateBundle:Form:bootstrap.html.twig' %}
	{% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock fos_user_content %}
