{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:add.html.twig' %}

{% block header %}Nový administrátor{% endblock %}
{% block title %}Nový administrátor{% endblock %}
{% block bdCurrent %}Nový administrátor{% endblock %}
{% block bdParent %}<li><a href="{{ path('admin_user_list') }}">Administrátoři</a></li>{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block form %}
	{% form_theme form 'dlouhyAdminTemplateBundle:Form:bootstrap.html.twig' %}
	{{ form_start(form, {'action': path('admin_user_save'),'attr': {'class': 'ajax-form'} }) }}
		{{ include('dlouhyUserBundle:User:form.html.twig', { 'form': form }) }}
	{{ form_end(form) }}
{% endblock %}