{% form_theme form 'dlouhyAdminTemplateBundle:Form:bootstrap.html.twig' %}
<div class="form-content">
	{{ form_row(form.name) }}
	{{ form_row(form.email) }}
	{{ form_row(form.username) }}
	
	{{ form_row(form.plainPassword) }}
	{{ form_row(form.plainPassword.second) }}
	
	{{ form_row(form.visualEditor) }}
	{{ form_row(form.save) }}
</div>
