{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:list.html.twig' %}

{% block header %}Administrátoři{% endblock %}
{% block title %}Administrátoři{% endblock %}
{% block bdCurrent %}Administrátoři{% endblock %}

{% block table %}
	{{ include('dlouhyUserBundle:User:table.html.twig') }}	
{% endblock %}