{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:table.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}

{% block dataset %}
	{% spaceless %}
		{% for record  in records %}											
			[
				'{{ record.id }}',
				'{{ record.name }}{{macros.toolbar(record.id, app.user.id == record.id ? 'fos_user_profile_show' : '', app.user.id == record.id ? 'fos_user_profile_edit' : '', 'admin_user_delete')}}',
				'{{ record.username }}',
				'{{ record.email }}',
				'{{ macros.btn_bool(record.enabled, record.id, 'admin_user_switch_active') }}'
			],
		{% endfor %}
	{% endspaceless %}
{% endblock %}

{% block columns %}
	{% spaceless %}
			{ 'title': 'ID', 'class': 'col-xs-1' },
			{ 'title': 'Jméno', 'class': 'col-xs-6 col-main'},
			{ 'title': 'Uživatelské jméno', 'class': 'col-xs-2' },
			{ 'title': 'E-mail', 'class': 'col-xs-2'  },
			{ 'title': 'Aktivní', 'class': 'col-xs-1' }
	{% endspaceless %}
{% endblock %}
