{% trans_default_domain 'FOSUserBundle' %}

<h1 class="page-header">Registrace</h1>
<div class="row">
	<div class="col-md-12 col-lg-12">
		
			{{ form_start(form) }}
			{{ form_errors(form) }}
			
			{{ form_row(form.name) }}
			{{ form_row(form.email) }}
		    {{ form_row(form.username) }}
		    {{ form_row(form.plainPassword.first) }}
		    {{ form_row(form.plainPassword.second) }}
			
		    {{ form_row(form.visual_editor) }}			
			
		    <div class="form-group">
				<input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />				
			</div>
			
			{{ form_end(form) }}
	
	</div>
</div>
			
			