{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Registrace{% endblock %}
{% block bdCurrent %}Registrace{% endblock %}
{% block bdParent %}<li><a href="{{ path('admin_users_list') }}">Uživatelé</a></li>{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
